DATABASE_URL=jdbc:postgresql://db:5432/deokhugam_db
DATABASE_PASSWORD=change-me

AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET=
AWS_S3_PRESIGNED_URL_EXPIRATION=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
OCR_API_KEY=
