spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dukhugam
    username: team02
    password: team02
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
  sql:
    init:
      mode: never

